<!DOCTYPE html>
<html lang="en">

{% include footer.html %}

<body class="home blog">
	<div class="page-wrapper">

		{% include header.html %}

		<section id="slider-wrapper">
			<div class="container">

			</div>
		</section>
		<!--#slider-->
		<div id="main" class="site-main">
			<div class="container">
				<div class="row">
					<div id="primary" class="col-md-8 right">

						<div id="content" class="site-content" role="main">

							<article id="post-46" class="post__holder post-46 post type-post status-publish format-standard hentry category-food">


								<header class="post-header ">

									<h3 class="post-title"><a href="http://nomnommonkey.com/food/easy-homemade-bread-crumbs-no-more-store-bought/"
										 title="Permalink to: Easy Homemade Bread Crumbs-No More Store Bought!">Easy Homemade Bread Crumbs-No More
											Store Bought!</a></h3>


								</header>


								<!-- Post Content -->
								<div class="post_content">
									<div class="excerpt">
										<p>I love a good Chicken Parmesan, meatballs, meatloaf&#8230;. just the thought of these deliciousness is
											making me hungry! I have found that homemade breadcrumbs really take the taste level up a notch and give it
											a more savory taste. This will be a recipe that you will read through, but will need to come back to&#8230;
										</p>
									</div>
									<a href="http://nomnommonkey.com/food/easy-homemade-bread-crumbs-no-more-store-bought/" class="more_link">Read
										More</a>
								</div>


								<span class="post_type_label "></span>
								<span class="post_date"><time datetime="2017-07-03T20:40:45">July 3, 2017</time></span>
								<!-- Post Meta -->
								<div class="post_meta default">
									<span class="post_category"><a href="http://nomnommonkey.com/category/food/" rel="category tag">Food</a></span>
									<span class="post_comment"><i class="fa fa-comments"></i><a href="http://nomnommonkey.com/food/easy-homemade-bread-crumbs-no-more-store-bought/#respond"
										 class="comments-link">No comments</a></span>
									<!--HIDE AUTHOR LINK		<span class="post_author"><i class="fa fa-user"></i><a href="http://nomnommonkey.com/author/nomnommonkey/" title="Posts by Georgina Ryan" rel="author">Georgina Ryan</a></span> -->
									<div class="clear"></div>
								</div>
								<!--// Post Meta -->

							</article>

							<article id="post-36" class="post__holder post-36 post type-post status-publish format-standard hentry category-food">


								<header class="post-header ">

									<h3 class="post-title"><a href="http://nomnommonkey.com/food/french-toast/" title="Permalink to: French Toast!">French
											Toast!</a></h3>


								</header>


								<!-- Post Content -->
								<div class="post_content">
									<div class="excerpt">
										<p>A huge lover of French Toast, and one of my brother&#8217;s favorites, I had him over for brunch and we
											chowed down! Mimosas are totally optional! You will need the following: 6 large eggs maple syrup (if you can
											get pure Canadian maple syrup, I personally think that is the best) ground cinnamon (be sure&#8230; </p>
									</div>
									<a href="http://nomnommonkey.com/food/french-toast/" class="more_link">Read More</a>
								</div>


								<span class="post_type_label "></span>
								<span class="post_date"><time datetime="2017-07-01T14:43:38">July 1, 2017</time></span>
								<!-- Post Meta -->
								<div class="post_meta default">
									<span class="post_category"><a href="http://nomnommonkey.com/category/food/" rel="category tag">Food</a></span>
									<span class="post_comment"><i class="fa fa-comments"></i><a href="http://nomnommonkey.com/food/french-toast/#comments"
										 class="comments-link">1 comment</a></span>
									<!--HIDE AUTHOR LINK		<span class="post_author"><i class="fa fa-user"></i><a href="http://nomnommonkey.com/author/nomnommonkey/" title="Posts by Georgina Ryan" rel="author">Georgina Ryan</a></span> -->
									<div class="clear"></div>
								</div>
								<!--// Post Meta -->

							</article>

							<article id="post-21" class="post__holder post-21 post type-post status-publish format-standard hentry category-food">


								<header class="post-header ">

									<h3 class="post-title"><a href="http://nomnommonkey.com/food/simple-spanish-style-rice/" title="Permalink to: Simple Spanish Style Rice">Simple
											Spanish Style Rice</a></h3>


								</header>


								<!-- Post Content -->
								<div class="post_content">
									<div class="excerpt">
										<p>This was a quick one that I threw together one day when I wanted to make some Spanish rice to go with
											tamales. I looked up a few recipes online, but all were using canned tomato sauce and I try not to use
											canned food if I can avoid it. I decided to come up&#8230; </p>
									</div>
									<a href="http://nomnommonkey.com/food/simple-spanish-style-rice/" class="more_link">Read More</a>
								</div>


								<span class="post_type_label "></span>
								<span class="post_date"><time datetime="2017-06-25T01:05:42">June 25, 2017</time></span>
								<!-- Post Meta -->
								<div class="post_meta default">
									<span class="post_category"><a href="http://nomnommonkey.com/category/food/" rel="category tag">Food</a></span>
									<span class="post_comment"><i class="fa fa-comments"></i><a href="http://nomnommonkey.com/food/simple-spanish-style-rice/#respond"
										 class="comments-link">No comments</a></span>
									<!--HIDE AUTHOR LINK		<span class="post_author"><i class="fa fa-user"></i><a href="http://nomnommonkey.com/author/nomnommonkey/" title="Posts by Georgina Ryan" rel="author">Georgina Ryan</a></span> -->
									<div class="clear"></div>
								</div>
								<!--// Post Meta -->

							</article>

							<article id="post-1" class="post__holder post-1 post type-post status-publish format-standard hentry category-food">


								<header class="post-header ">

									<h3 class="post-title"><a href="http://nomnommonkey.com/food/hello-world/" title="Permalink to: Easy Chicken Salad">Easy
											Chicken Salad</a></h3>


								</header>


								<!-- Post Content -->
								<div class="post_content">
									<div class="excerpt">
										<p>Let&#8217;s talk chicken salad! I ALWAYS keep canned chicken (preferred Kirkland brand, but store brand
											will work) for easy and quick chicken salad sandwiches. The chicken salad is also great on crackers or by
											itself depending on your health needs. You will need: Kirkland canned chicken (12.5oz) Qty. 2 1 cup craisins
											(I LOVE CRAISINS, so&#8230; </p>
									</div>
									<a href="http://nomnommonkey.com/food/hello-world/" class="more_link">Read More</a>
								</div>


								<span class="post_type_label "></span>
								<span class="post_date"><time datetime="2017-02-01T10:23:02">February 1, 2017</time></span>
								<!-- Post Meta -->
								<div class="post_meta default">
									<span class="post_category"><a href="http://nomnommonkey.com/category/food/" rel="category tag">Food</a></span>
									<span class="post_comment"><i class="fa fa-comments"></i><a href="http://nomnommonkey.com/food/hello-world/#comments"
										 class="comments-link">2 comments</a></span>
									<!--HIDE AUTHOR LINK		<span class="post_author"><i class="fa fa-user"></i><a href="http://nomnommonkey.com/author/nomnommonkey/" title="Posts by Georgina Ryan" rel="author">Georgina Ryan</a></span> -->
									<div class="clear"></div>
								</div>
								<!--// Post Meta -->

							</article>


							<!-- Posts navigation -->
						</div><!-- #content -->
					</div><!-- #primary -->

					<div id="secondary" class="widget-area col-md-4" role="complementary">

							{% include header.html %}

					</div><!-- #secondary -->
				</div>
			</div>
		</div><!-- #main -->

		<footer id="colophon" class="site-footer" role="contentinfo">
				{% include footer.html %}
		</footer><!-- #colophon -->
	</div><!-- .page-wrapper -->

</body>