<header id="header" role="banner">
    <div class="container clearfix">
        <div class="logo">
            <h1 class="text-logo"><a href="http://nomnommonkey.com/" title="Nom Nom Monkey" rel="home">Nom Nom Monkey</a></h1>
            <p class="site-description">Love the food you eat!</p>
        </div>

        <div id="top-search">
            <form method="get" action="http://nomnommonkey.com/">
                <input type="text" name="s" class="input-search" /><input type="submit" value="" id="submit">
            </form>
        </div>
        <div class="clear"></div>
        <nav id="site-navigation" class="main-nav" role="navigation">
            <div class="navbar_inner">
                <ul id="topnav" class="sf-menu">
                    <li class="current_page_item"><a href="http://nomnommonkey.com/">Home</a></li>
                    <li class="page_item page-item-2"><a href="http://nomnommonkey.com/about/">About</a></li>
                </ul>
            </div>
        </nav><!-- #site-navigation -->
    </div>
</header><!-- #masthead -->