<div class="author_bio_sidebar">
    <div class="social_box">
    </div>
    <div class="content_box">
        <h2>Welcome to my site</h2>
        <div class='author_bio_message'>Welcome to NomNomMonkey! We all have busy schedules and don’t always have the
            time to whip up something gourmet. The food prepared is for my family on a daily basis, not at a restaurant
            and do not want to set a false expectation for what yours will look like. These are REAL recipes for REAL
            people just like you! You won’t see pictures with snazzy filters or food on china with silver utensils. So
            stay tuned, enjoy, and have fun!</div>
    </div>
</div>
<aside id="recent-posts-2" class="widget widget_recent_entries">
    <h3 class="widget-title">Recent Article</h3>
    <ul>
        <li>
            <a href="http://nomnommonkey.com/food/easy-homemade-bread-crumbs-no-more-store-bought/">Easy Homemade Bread
                Crumbs-No More Store Bought!</a>
        </li>
        <li>
            <a href="http://nomnommonkey.com/food/french-toast/">French Toast!</a>
        </li>
        <li>
            <a href="http://nomnommonkey.com/food/simple-spanish-style-rice/">Simple Spanish Style Rice</a>
        </li>
        <li>
            <a href="http://nomnommonkey.com/food/hello-world/">Easy Chicken Salad</a>
        </li>
    </ul>
</aside>
<aside id="recent-comments-2" class="widget widget_recent_comments">
    <h3 class="widget-title">Latest Comments</h3>
    <ul id="recentcomments">
        <li class="recentcomments"><span class="comment-author-link">Darin P</span> on <a href="http://nomnommonkey.com/food/french-toast/#comment-4">French
                Toast!</a></li>
        <li class="recentcomments"><span class="comment-author-link">Georgina Ryan</span> on <a href="http://nomnommonkey.com/food/hello-world/#comment-3">Easy
                Chicken Salad</a></li>
        <li class="recentcomments"><span class="comment-author-link">Jacqueline Noble</span> on <a href="http://nomnommonkey.com/food/hello-world/#comment-2">Easy
                Chicken Salad</a></li>
    </ul>
</aside>