<!DOCTYPE html>
<html lang="en">

{% include footer.html %}

<body class="home blog">
    <div class="page-wrapper">

        {% include header.html %}

        <section id="slider-wrapper">
            <div class="container">

            </div>
        </section>
        <!--#slider-->
        <div id="main" class="site-main">
            <div class="container">
                <div class="row">
                    <div id="primary" class="col-md-8 right">
                        <div id="content" class="site-content" role="main">

                            {{ include.content }}

                            <!-- Posts navigation -->
                        </div><!-- #content -->
                    </div><!-- #primary -->

                    <div id="secondary" class="widget-area col-md-4" role="complementary">
                        {% include header.html %}
                    </div><!-- #secondary -->

                </div>
            </div>
        </div><!-- #main -->

        <footer id="colophon" class="site-footer" role="contentinfo">
            {% include footer.html %}
        </footer><!-- #colophon -->
    </div><!-- .page-wrapper -->

</body>